html {
  font-size: 62.5%;
}
:root {
  --primary-color: rgb(29, 33, 47);
  --button-color: rgb(245, 134, 52);
  --white-color: #fff;
  --sub-heading-color: rgb(114, 116, 125);
  --grey-sub-heading: rgb(163, 163, 163);
  --small-text-color: #8e8e8e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
}

/* Nav Section */
.nav-section {
  background-color: var(--primary-color);
  padding: 1.6rem 2.3rem;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo p {
  color: inherit;
  font-size: 2.4rem;
  font-weight: 700;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.nav-item a:link,
.nav-item a:visited {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav-item a:hover,
.nav-item a:active {
  color: var(--button-color);
  background-color: #333;
}
.sign-btn {
  display: inline-block;
  color: inherit;
  font-size: 1.4rem;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button-color);
}

/*  Hero Section */
.hero-section {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding-top: 12rem;
  height: 100vh;
}
.container {
  max-width: 90rem;
  margin: 0 auto;
}
.hero-section .flex-display {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  height: calc(100vh - 120px);
}
.left-content {
  max-width: 43rem;
  align-self: flex-end;
}
.light-image {
  background-color: var(--white-color);
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.light-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.right-content {
  max-width: 43rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 2.4rem;
}
.primary-heading {
  color: inherit;
  font-size: 3.9rem;
  font-weight: 600;
}
.hero-section .sub-heading {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--sub-heading-color);
  width: 80%;
}
.search-content {
  background-color: var(--white-color);
  padding: 1.6rem 1.2rem;
  border-radius: 8px;
  color: var(--grey-sub-heading);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-icon {
  font-size: 1.4rem;
  margin-right: 4px;
}
.text-inpt {
  width: 150px;
  padding: 4px;
  border: none;
  outline: none;
}
.text-inpt::placeholder {
  color: var(--grey-sub-heading);
  font-size: 1.2rem;
}
.category-label {
  position: relative;
  font-size: 1.2rem;
  margin-right: 8px;
}
.category-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 1px;
  height: 100%;
  background-color: var(--grey-sub-heading);
}
.category-select {
  border: none;
  color: var(--button-color);
  width: 2rem;
  margin-right: 8px;
}

.search-btn {
  width: 100px;
  background-color: var(--button-color);
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  color: var(--white-color);
}

/* About Us Section */
.about-us {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}
.about-img {
  width: 45rem;
  height: auto;
  border-radius: 8px;
}
.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.about-us .flex-display {
  display: flex;
  gap: 4.8rem;
}
.heading-content {
  padding-top: 3rem;
  width: 40rem;
}
.secondary-heading {
  font-size: 3.2rem;
  letter-spacing: -0.3px;
  margin-bottom: 2.4rem;
  line-height: 1.3;
}
.about-us .sub-heading {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  color: var(--sub-heading-color);
}
.explore-btn {
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  padding: 1rem 1.2rem;
  color: #fff;
  font-size: 1.4rem;
}

/* Courses Section */
.courses-section {
  background-color: rgb(246, 247, 250);
  padding: 6.4rem 0;
}
.main-heading {
  text-align: center;
  font-size: 3.2rem;
  letter-spacing: -1px;
  margin-bottom: 2rem;
}
.courses-section .sub-heading {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
  color: var(--sub-heading-color);
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}
.course {
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-in;
}
.course:hover {
  transform: translateY(-10px);
}
.course-img {
  background-color: rgb(234, 238, 243);
  width: 100%;
  height: 15rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.course-content {
  padding: 1.6rem;
}
.curr-price {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--button-color);
  margin-bottom: 1rem;
}
.prev-price {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: var(--small-text-color);
  text-decoration: line-through;
}
.course-fee {
  margin-left: 1rem;
  color: var(--small-text-color);
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}
.course-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.rate {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rate-stars {
  color: #ff8800;
}
.reviews {
  font-size: 1rem;
  color: var(--small-text-color);
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses-section .explore-btn {
  display: inline-block;
}

/* Testimonial Section  */
.testimonial-section {
  background-color: rgb(252, 252, 252);
  padding: 6.4rem 0;
}
.grid-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 4rem;
}
.testimonial-section .heading-content {
  padding: 0;
  margin: 0;
}
.testimonial-section .tertiary-heading {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.testimonial-section .sub-heading {
  font-size: 1.4rem;
  color: var(--sub-heading-color);
}
.prev-next-icons {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}
.left,
.right {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.testi-box {
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 2.4rem;
}
.first-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.stars {
  color: var(--button-color);
}
.first-div .logo {
  width: 9rem;
  height: auto;
}
.first-div .logo img {
  width: 100%;
  height: 100%;
}
.testi-content {
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}
.author {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.author .img {
  width: 40px;
  height: 40px;
  background-color: rgb(234, 238, 243);
  border-radius: 50%;
}
.name {
  font-weight: 700;
  font-size: 1.2rem;
}
.author-position {
  font-size: 1rem;
  color: var(--small-text-color);
}
.show-menu {
  display: none;
  font-size: 2rem;
}
